@import '../assets';

.tab-switcher {
    margin-bottom: 10px;

    div {
        display: flex;
        justify-content: space-around;
    }

    .tab-lines {
        display: flex;
        
        .first-line, .second-line {
            margin: 5px 0;
            background-color: $light-grey;
            display: block;
            height: 1px;
            width: 50%;
        }

        .active-line {
            background-color: $pink;
        }
    }
}

.dates {
    padding: 10px 15px;
    justify-content: space-between;
    border-top: 1px solid $light-grey;
    display: grid;
    grid-template-columns: 1fr 1fr;

    h4 {
        text-align: left;
    }
}