@import '../assets';

.tab-switcher {
    margin-bottom: 10px;

    div {
        display: flex;
        justify-content: space-around;
    }

    .tab-lines {
        display: flex;
        
        .first-line, .second-line {
            margin: 5px 0;
            background-color: $light-grey;
            display: block;
            height: 1px;
            width: 50%;
        }

        .active-line {
            background-color: $pink;
        }
    }
}

.details-line {
    background-color: $light-grey;
    height: 1px;
    width: 100vw;
    display: block;
    margin-left: -15px;

    &.short {
        width: 100%;
        margin: 0;
    }
}

.dates {
    padding: 10px 15px;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr;

    h4 {
        text-align: left;
    }

    button {
        background-color: white;
        border: none;
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 0;
    }
}