@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

$blue: #0063DB;
$pink: #FF0084;
$dark-grey: #535252;
$medium-grey: #A9A9A9;
$light-grey: #E2E2E2;

$shadow: 0px 3px 10px 0px rgba(0,0,0,0.1);

