@import './assets';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato';
    color: black;
}

h1 {
    font-size: 16px;
    font-weight: 700;
    color: white;
}

h2 {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}

h3 {
    font-size: 14px;
}

h4 {
    font-size: 16px;
    font-weight: 700;
}

h5 {
    font-size: 12px;
    font-weight: 400;
}

p {
    font-size: 16px;
}

button {
    font-family: 'Lato';
    font-size: 14px;
}

.primary-btn {
    background-color: $pink;
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 14px;
    border: none;
    color: white;
    display: block;
    font-weight: 700;
}

.secondary-btn {
    background-color: white;
    padding: 6px 13px;
    border: none;
    border: 1px solid $light-grey;
    border-radius: 8px;
    font-size: 14px;
    display: flex;
    align-items: center;
    width: fit-content;

    img {
        height: 18px;
        margin-right: 10px;
    }
}

.ghost-btn {
    border: none;
    font-weight: 700;
    background-color: transparent;
    padding: 10px;
    font-size: 14px;
}

.btn-group {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    margin: 10px 0;
}

.close {
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}

label {
    font-size: 14px;
    font-weight: 700;
    margin: 10px 0 5px;
}

input {
    font-family: 'Lato';

    &::placeholder {
        color: $medium-grey;
    }

    &:focus {
        outline: none;
    }
}


