@import '../assets';

.top-bar {
    background-color: $blue;
    height: 80px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 13px 15px 0;
    }
    
    .burger {
        height: 30px;
    }

    .help-container {
        width: 35px;
        
        .help {
            height: 20px;
            margin-left: auto;
            margin-right: 0;
            display: block;
        }
    }
}

.tab-bar {
    background-color: white;
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    z-index: 3;

    a {
        height: 100%;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        img {
            height: 25px;
            object-fit: cover;
        }
        
    }

    .active {
        position: relative;
        &::before {
            content: "";
            height: 1px;
            width: 100%;
            background-color: $pink;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.side-menu {
    background-color: white;
    height: 100%;
    position: fixed;
    top: 0;
    width: 88%;
    max-width: 350px;
    box-shadow: $shadow;
    left: -100%;
    transition: all 0.5s ease-in-out;
    z-index: 10;

    &.active {
        left: 0;
    }

    .content {
        width: 90%;
        margin: auto;
    }

    .header {
        border-bottom: 1px solid $light-grey;
        .content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 0;

        }

        .welcome-container {
            display: flex;
            align-items: center;
            width: 100%;
            
            img {
                margin-right: 15px;
            }
        }
    }

    .links {

        .link {
            margin: 20px 0;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        a {
            color: black;
            text-decoration: none;
            font-weight: 700;
        }
    }

    .footer {
        position: absolute;
        bottom: 0;
        left: 0;

        .logo {
            width: 55%;
            display: block;
            margin: 0 auto 25px;
        }

        .some {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;

            a {
                margin-right: 10px;

                &:first-of-type {
                    margin-right: 7px;
                }

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }

        .sign-out {
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: 1px solid $light-grey;
            padding: 20px 0;

            img {
                margin-right: 10px;
            }
        }
    }
}

.help-modal {
    background-color: white;
    box-shadow: $shadow;
    border-radius: 8px;
    padding: 20px 30px;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.3s ease-in-out;
    width: 80%;
    text-align: center;
    opacity: 0;
    z-index: 7;
    visibility: hidden;
    
    &.active {
        opacity: 1;
        top: 50%;
        visibility: visible;
    }

    .secondary-btn {
        margin: auto;
        width: 100%;
        justify-content: center;
    }

    h5 {
        margin: 5px auto 15px;
    }
}
